/* ===== TASK ===== */

.task {
  position: relative;
  background: #334155;
  border-radius: 14px;
  padding: 14px 16px;
  margin-bottom: 14px;

  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;

  transition: all 0.2s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.task:hover {
  background: #3b4b63;
  transform: translateY(-3px);
}

.task.done {
  opacity: 0.5;
  text-decoration: line-through;
  color: greenyellow;
}

.task-content {
  flex: 1;
  min-width: 0;
  cursor: pointer;
  font-size: 15px;
}

.task-content span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
}

.task-controls {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.tag-indicators {
  position: absolute;
  top: 0;
  left: 6px;
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}

.tag-bar {
  width: 30px;
  height: 6px;
  border-radius: 10px;
}

.task-content {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .column .task:hover {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
}
