@import "./styles/NotificationContext.css";
@import "./styles/Auth.css";
@import "./styles/Board.css";
@import "./styles/Buttons.css";
@import "./styles/Column.css";
@import "./styles/Task.css";
@import "./styles/Modal.css";
@import "./styles/Layout.css";
@import "./styles/Header.css";

* {
  box-sizing: border-box;
}

.drag-overlay {
  z-index: 999999;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.6);
  transform: rotate(4deg);
  cursor: grabbing;
}

body.menu-open {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  max-height: 100vh !important;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgb(110, 110, 202);
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  color: #f1f5f9;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
}

/* ===== RESPONSIVE ===== */

@media (max-width: 768px) {
  .app {
    padding: 20px;
  }
}

@media screen and (max-width: 500px) {
  .auth-container {
    padding: 25px;
    max-width: 325px;
  }
}

@media screen and (max-width: 460px) {
  .column {
    max-width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .auth-form input {
    font-size: 12px;
  }
  .tag-bar {
    width: 15px;
  }
}

@media screen and (max-width: 360px) {
  .auth-container {
    padding: 20px;
    max-width: 270px;
  }

  .column {
    max-width: 310px;
  }
}
